@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <header class="masthead" style="background-image: url('https://res.cloudinary.com/grohealth/image/upload/$wpsize_!post-thumbnail!,w_1000,h_600,c_fill,g_auto/v1588088887/the-ball-stadion-football-the-pitch-46798.jpeg'); background-size: cover; background-repeat: no-repeat;height:400px;width:100%">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading" style="margin-top:200px;color:white">
                        <h1><strong>Football Blog</strong></h1>
                        <span class="subheading">A Blog about football</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="content text-center px-4">
        @Body
    </div>
</div>
